<% include partials/admin_profile_head %>  
<div class="container">
      <div class="jumbotron" align='center'>
     
<!-- Form for adding Teachers -->
      <form method='POST' id='addCourses' action='/addCourses'>
      
       <input type=text name="name" placeholder="Course Name">
       <p></p>
       <input type=text name="paper_code" placeholder="Paper Code">
       <p></p>
        <input type=text name="co1" placeholder="CO 1">
       <p></p>
          <input type=text name="co2" placeholder="CO 2">
       <p></p>
          <input type=text name="co3" placeholder="CO 3">
       <p></p>
          <input type=text name="co4" placeholder="C0 4">
       <p></p>
          <input type=text name="co5" placeholder="CO 5">
          <p></p>
       <button type="submit" name="login">Add this Course</button>
    </form>
      </div>
</div>    
