<!DOCTYPE html>
<html>
<head> 

<title><%= title %></title>
 <link rel='stylesheet' href='/stylesheets/signin.css' />    
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body background="/images/bg.jpg">

<div class="container">
 <% if (message) { %> 
         
    
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <strong></strong> <%= message %>
      </div>
        
     <% } %>
<h1 class="form-signin-heading" align="center"><p><b><%= title %></b></p></h1>
<hr>
<h3 class="form-signin-heading" align="center"><p><b>Welcome to <%= title %></b></p> <p><i>Login to your portal</i></p> </h3>

      <form class="form-signin" method="POST" action="/login">
	
 <div class="form-group">        
        <label for="username">Username</label>
        <input type="text" class="form-control" name = "username" id="username" aria-describedby="emailHelp" placeholder="Username" required>
    
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label for="typeSelect">Account type:</label>
    <select class="form-control" id="type" name="type">
      <option value="1">Admin</option>
      <option value="2">Teacher</option>
    </select>
  </div>
    <div class="form-group">      
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
      </form>

</div> 
<!-- /container -->
<hr>
<footer><center>|Akshit Verma, Chitranshi Sengar| All rights reserverd. 2017 </center></footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>      
      
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
      
</body>
</html>